modules = ["nodejs-20", "web"]
run = "start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start -- -p 3000"]
build = ["sh", "-c", "npm ci && npm run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Start Dev Server"
author = 38335819
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev"
author = 38335819
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
